*,
html,
body {
  box-sizing: border-box;
  font-family: 'consola', sans-serif !important;
  overflow-x: hidden;
}

/* (Index => intro) */

.index-intro {
  min-height: 100vh !important;
  background: #FFFFFF;
}

.index-intro .intro-mid {
  position: relative;
  height: 100vh;
  padding: 0 !important;
}

.index-intro .intro-img-holder {
  position: relative;
  height: 80vh;
}

.index-intro .intro-img-holder .intro-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.index-intro .intro-mid .intro-mid-sub {
  height: 20vh;
  padding: 30px 49px;
  overflow: hidden;

}

.index-intro .intro-text-holder {
  padding: 25rem 6.8rem
}

.index-intro .intro-text-holder h1 {
  font-size: 28px;
  font-weight: 900;
}

@media (max-width:744px) {

  .index-intro .intro-mid,
  .index-intro .intro-mid .intro-mid-sub {
    height: auto !important;
  }

  .index-intro .intro-img-holder {
    height: 50vh;
  }

  .index-intro .intro-text-holder {
    padding: 8rem 2rem 3rem;
  }

}

/* (index => Let's get you started)*/
.get-started .get-started-box {
  padding: 2em 1em;
  margin: 30px auto;
  transition: .5s ease-in-out;
  min-height: 397px;
  display: flex;
  justify-content: center;
}

.get-started .get-started-box:hover {
  background: #cccccc;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16) !important;

}

.get-started .get-started-box h3 {
  font-size: 20px;
  font-weight: 900;
}

.get-started .get-started-box p {
  padding: 3em 0;
}

.get-started .get-started-box p span {
  text-decoration: underline;
}

.get-started .get-started-box a {
  background: #000000 !important;
  color: #FFFFFF !important;
  font-weight: 900;
}

.get-started .get-started-box:hover a {
  background: #FFC107 !important;
}

/* ::: (indec => We've contributed code at:) :::*/
/* .contributions {padding: 2rem 10rem}
.contributions .project, .contributions .tesimonial {
  height: 252px;
}
.contributions .project ,
.contributions .testimonial {
  padding: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contributions .project h4 {
  font-size: 16px;
  color:#FFFFFF;
  opacity: .6;
}
.contributions .project p {
  font-size: 20px;
  color:#FFFFFF;
}
.contributions .testimonial .q-mark{
  font-size: 20px;
  font-weight:900;
}
.contributions .testimonial .content {
  font-size: 16px;
}
.contributions .testimonial .name {
  font-size: 20px;
  font-weight: 900;
} */

/* ::: (Hire Devs) ::: */

/*========
Hire
========*/

.hire-info {
  padding: 10rem 5.5rem;
  color: #000;
  height: 100vh;
  overflow: hidden;
}

@media (max-width:744px) {
  .hire-info {
    padding: 8rem 2rem;
    height:auto !important;
  }
}
.hire-info h3 {
  font-size: 22px;
  margin-bottom: 54px;
  font-weight: 700   !important;
}
.hire-info p {
  font-size: 16px;
} 
.bubble-form-area {
  padding: 10rem 3rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hire-form .bubble-form-area {
  padding: 12rem 3rem;
}

@media (max-width:744px) {
  .bubble-form-area {
    padding: 5rem 0;
    padding-bottom: 0 !important;
    height:auto !important;
  }
  .bubble-form-area form {
    padding: 1rem 2rem;
  }
}

.bubble-form-area .bubble-form-header{
  font-size:18px;
  font-family:'avenir-heavy', sans-serif;
  font-weight: bold;
}
.bubble-form-area input {
  background-color:rgba(0, 0, 0, 0.2);
  height: 41px;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  margin-top: 24px;
  color: #000000;
  font-weight: 900;
  font-size: 14px;
  font-family:'consola-bold', sans-serif;
}
.bubble-form-area input:focus {
  outline: none !important; 
  background-color:rgba(0, 0, 0, 0.2);
  color: #000000;
}
.bubble-form-area .text-area{
  background-color:rgba(0, 0, 0, 0.2);
  margin-top: 24px;
  font-size: 14px;
  font-family:'consola-bold', sans-serif;
  box-sizing: border-box;
  border: none;
  height:61px;
  color: #000000;
  font-weight: 900;
}

.bubble-form-area .form-control::placeholder { 
  color:rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-family: 'consola', sans-serif;
 }

 .bubble-form-area .form-control::placeholder { 
  color:rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-family: 'consola', sans-serif;
 }  

 .bubble-form-area .form-check {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bubble-form-area .form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.bubble-form-area .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: rgba(0, 0, 0, 0.4);
}

.bubble-form-area .form-check input:checked ~ .checkmark {
  background-color: #000000;
}

.bubble-form-area .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.bubble-form-area .form-check input:checked ~ .checkmark:after {
  display: block;
}

.bubble-form-area .form-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bubble-form-area .form-check-label{
 font-size: 13px;
 color:black;
}
.bubble-form-area .form-check-label em {
  font-weight: 900;
}
.bubble-form-area .bubble-more {
  position: absolute;
  padding:3rem;
  width: 100%;
  left:0;
  bottom: 0;
  color: #ffffff;
  display: flex;
}

.bubble-form-area .bubble-more img {
  height: 71px;
  width: 71px;
  object-fit: contain;
}
.bubble-form-area .bubble-more h4 {
  font-size:15px;
  font-weight: 800;
  line-height: 23px;
}
.bubble-form-area .bubble-more p {
  font-size: 14px;
}

@media(max-width:744px) {
 .bubble-form-area .bubble-more {
    position: relative;
    padding: 1rem 2rem;
 }
}
.bubble-form-area .bubble-more h4 {
  font-size: 15px;
}
.bubble-form-area .bubble-more p {
  font-size: 15px;
}