/*=========
Fonts
========*/
@font-face {
  font-family:'consola';
  src: url("../font/CONSOLA.TTF");
}
@font-face {
  font-family:'avenir-heavy';
  src: url("../font/AvenirLTStd-Heavy.woff");
}
@font-face {
  font-family:'consola-bold';
  src: url("../font/CONSOLAB.TTF");
}
@font-face {
  font-family:'avenir-black';
  src: url("../font/AvenirLTStd-Black.woff");
}



*{
  box-sizing: border-box;
  font-family: 'consola', sans-serif !important;
  overflow-x: hidden;
}
.container-fluid{
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
}
.holder {
  padding: 1em 0;
}

.clear {
  padding: 0 !important;
}

.bubble-link {
  text-decoration: underline;
  transition: .5s ease;
}
.bubble-link:hover {
  color:#FFC107 !important;
}

/*===========
Colours
=========*/
/*backgrounds*/
.bubble-yellow {
  background: #FFC107;
}
.bubble-black {
  background: #000000;
}
.bubble-white {
  background: #FFFFFF;
}
.bubble-gradient {
  background: linear-gradient(to right, #FFC107 24%,#ffffff 24%);
  height: 100vh;
}
/*texts*/
.b-black {
  color:#000000 !important;
}

.b-white {
  color: #FFFFFF !important;
}

.b-yellow {
  color: #FFC107 !important;
}

/*=======
Buttons
=======*/
.bubble-button {
  border-radius: 4px;
  padding: 14px 13px;
  font-size: 14px;
  border: none;
  font-family: 'consola', sans-serif !important;
  text-decoration: none !important;
  transition: .5s ease-in !important;
}
.bubble-button:hover { color: #FFFFFF;}
.btn-hire {
  color: #000000;
}
.btn-hire:hover {color:#000000;background: #FFFFFF;}
.btn-work {
  color: #FFFFFF;
  border:1px solid #FFFFFF;
}
.btn-hello {
  padding: 14px 40px !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.btn-call {
  border-radius: 50%;
  padding: 20px;
  bottom: 23px;
  right: 151px;
  position: absolute;
  z-index: 1070;
  box-shadow:0px 12px 12px 0px rgba(0, 0, 0, 0.16);

}
 .btn-submit {
  background: #000;
  color: #ffffff;
  padding: 14px 25px;
  font-size: 14px;
}
/*=========
Navbar
=========*/
.bubble-nav {
  background: transparent !important;
  font-family: 'consola', sans-serif !important;
  font-size: 15px !important;
  padding: 10px 150px 10px 65px;
}
.bubble-nav .bubble-nav-logo img {
  width: 133px;
  height: 33px;
}
.bubble-nav .nav-item:not(:last-child) {
  margin-right: 15px;
}
/*=======
Landing
========*/

.intro-left {
  background: #000000;
  color: #FFFFFF !important;
  height: 100vh;
  padding: 319px 0 0 80px !important;  
}

.intro-left h2 {
  font-size: 28px;
  line-height: 41px;
}

.intro-left p {
  font-size: 16px;
  line-height: 26px;
}
.footer {
  position: absolute;
  bottom:28px;
}
.footer h6 {
  font-size: 13px;
}
.footer h6 span .marker {
  width: 8px;
}

.footer .mail {
  padding-left: 15px;
}

.intro-mid {
  position: relative;
  height: 100vh;
  padding-top: 230px;
}

.intro-mid img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.intro-mid .intro-mid-sub {
position: absolute;
width: 100%;
bottom: 0;
left:0;
padding:51px;
}
.intro-mid .intro-mid-sub p {
  font-size: 16px;
}
.intro-mid .intro-mid-sub .more {
  font-size: 16px;
  font-weight: bold;
}
/*social media :: landing*/
.bubble-social-intro {
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.bubble-social-intro .social-media h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 15px;
}

.bubble-social-intro .social-media .v-line {
  border: 1px solid #fff;
  width: 0px;
  height: 41px;
  margin-left: 29px;
}

.bubble-social-intro .social-media 
.social-media-icon svg {
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 23px;
  margin-top: 24px;
  fill: #fff;
}

/*social media ::hire*/
.bubble-social-hire {
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.bubble-social-hire .social-media h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 15px;

}
.bubble-social-hire .social-media .v-line {
  border: 1px solid #000000;
  width: 0px;
  height: 41px;
  margin-left: 29px;
}
.bubble-social-hire .social-media 
.social-media-icon svg {
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 23px;
  margin-top: 24px;
  fill: #000000;
}


/*========
Hire
========*/

.hire-info {
  padding: 236px 166px 0px 79px;
  color: #000;
}
.hire-info h3 {
  font-size: 22px;
  font-weight: bolder !important;
}
.hire-info p {
  font-size: 16px;
} 
.bubble-form-area {
  padding: 140px 77px 30px 77px;
  min-height: 100vh;
  position: relative;
}

.bubble-form-area .bubble-form-header{
  font-size:18px;
  font-family:'avenir-heavy', sans-serif;
  font-weight: bold;
}
.bubble-form-area input {
  background-color:rgba(0, 0, 0, 0.2);
  height: 41px;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  margin-top: 24px;
  color: #000000;
  font-size: 14px;
  font-family:'consola-bold', sans-serif;
}
.bubble-form-area input:focus {outline: none !important;}
.bubble-form-area .text-area{
  background-color:rgba(0, 0, 0, 0.2);
  margin-top: 24px;
  font-size: 14px;
  font-family:'consola-bold', sans-serif;
  box-sizing: border-box;
  border: none;
  height:61px;
}

.bubble-form-area .form-control::placeholder { 
  color:rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-family: 'consola', sans-serif;
 }

 .bubble-form-area .form-control::placeholder { 
  color:rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-family: 'consola', sans-serif;
 }

 .bubble-form-area .form-check {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bubble-form-area .form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.bubble-form-area .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: rgba(0, 0, 0, 0.4);
}

.bubble-form-area .form-check input:checked ~ .checkmark {
  background-color: #2196F3;
}

.bubble-form-area .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.bubble-form-area .form-check input:checked ~ .checkmark:after {
  display: block;
}

.bubble-form-area .form-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bubble-form-area .form-check-label{
 font-size: 13px;
 color:black;
}
.bubble-form-area .bubble-more {
  position: absolute;
  padding:60px 8px 50px 77px;
  width: 100%;
  left:0;
  bottom: 0;
  color: #ffffff;
}
.bubble-form-area .bubble-more h4 {
  font-size: 15px;
}
.bubble-form-area .bubble-more p {
  font-size: 15px;
}

/*========
Developers
========*/

.devs-left {
  position: relative;
  padding: 100px 0 0px 100px;
  overflow: hidden;
  min-height: 100vh;
}
.devs-left h5 {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bolder;
  padding-top: 30px;
}
.devs-main {
  padding: 100px 0 0px 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.devs-main .content h1 {
  font-family: 'avenir-black', sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 900;
}
.devs-main .content p {
  font-size: 16px;
}


.carousel-control-prev {
  right: 187px;
  left:unset;
}
.carousel-control-next, .carousel-control-prev {
  top: unset;
  width: 7%;
  bottom: 114px;
}

.carousel-control-next {
  right: 93px;
}
.img img {width: 100%;}
.img{
  height: 362px;
  width: 362px;
  position:absolute;
  bottom: 185px;
  left: 96px;
  z-index:10;
}
.frame{
  position: absolute;
  top:237px;
  background:white;
  height: 351px;
  width: 351px;
  left:123px;
  border: 3px solid #FFC107;
  z-index: 9 !important;
}
