/*=========
Fonts
========*/

@font-face {
    font-family: 'consola';
    src: url("../font/CONSOLA.TTF");
}

@font-face {
    font-family: 'avenir-heavy';
    src: url("../font/AvenirLTStd-Heavy.woff");
}

@font-face {
    font-family: 'consola-bold';
    src: url("../font/CONSOLAB.TTF");
}

@font-face {
    font-family: 'avenir-black';
    src: url("../font/AvenirLTStd-Black.woff");
}

.container-fluid {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 744px) {
    .container-fluid {
        min-height: 120px;
    }
    .btn-hire,
    .btn-work {
        display: block !important;
        margin: 10px auto;
    }
}

.holder {
    padding: 1em 0;
}

.space-img {
    width: 80%;
    object-fit: contain;
    display: block !important;
    margin: 5px 0 !important;
    border-radius: 4px;
}

@media (max-width:744px) {
    .space-img {
        width: 100% !important;
        height: auto;
    }
}

.clear {
    padding: 0 !important;
}

.bubble-link {
    text-decoration: underline;
    font-weight: 700;
    font-size: 16px !important;
    transition: .5s ease;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.bar {
    color: #000;
    display: block;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 5px 0;
    width: 21px;
}

.bubble-link:hover {
    color: #FFC107 !important;
}

.a-center {
    min-height: 252px;
    display: flex;
    align-items: center;
    padding: 2em;
}

/*===========
Colours
=========*/

/*backgrounds*/

.bubble-yellow {
    background: #FFC107;
}

.bubble-black {
    background: #242424;
    color: #FFFFFF !important;
}

.bubble-white {
    background: #FFFFFF;
}

.bubble-gradient {
    background: linear-gradient(to right, #FFC107 24%, #ffffff 24%);
    height: 100vh;
}

.bubble-basic {
    background: #11A880 !important;
}

/*texts*/

.b-black {
    color: #000000 !important;
}

.b-white {
    color: #FFFFFF !important;
}

.b-yellow {
    color: #FFC107 !important;
}

.b-black-light {
    color: #000000 !important;
    opacity: .6;
}

.b-white-light {
    color: #FFFFFF !important;
    opacity: .6;
}

.text-underline {
    text-decoration: underline;
}

.bg-project-1 {
    background: linear-gradient(rgba(17, 168, 128, 0.85), rgb(17, 168, 128)), url(/img/coincasa.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-project-2 {
    background: linear-gradient(rgba(42, 56, 48, 0.9), rgb(59, 82, 69)), url(/assets/image/website-template-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-project-3 {
    background: linear-gradient(rgba(42, 56, 48, 0.9), rgb(59, 82, 69)), url(/assets/image/website-template-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel-control-next-icon {
    background-image: url("/img/ic_arrow_right.svg") !important;
    height: 30px;
    width: 23px;
    background-size: contain;
    display: none;
}

.carousel-control-prev-icon {
    background-image: url("/img/ic_arrow_right.svg") !important;
    height: 30px;
    width: 23px;
    background-size: contain;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
}

/*=======
Buttons
=======*/

.bubble-button {
    border-radius: 4px;
    padding: 14px 13px;
    font-size: 14px;
    border: none;
    font-family: 'consola', sans-serif !important;
    text-decoration: none !important;
    transition: .5s ease-in !important;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.23) !important;
}

@media (max-width: 332px) {
    .bubble-button {
        display: block;
        margin: 10px auto;
    }
}

.bubble-button:hover {
    color: #FFFFFF;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16) !important;
}

.btn-hire {
    color: #000000;
}

.btn-hire:hover {
    color: #000000;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16) !important;
}

.btn-work {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.btn-hello {
    padding: 5px 20px !important;
    border-radius: 4px;
    color: #000000 !important;
    font-weight: 800;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    font-size: 14px;
}

.btn-call {
    border-radius: 50%;
    padding: 20px;
    bottom: 23px;
    right: 151px;
    position: fixed;
    z-index: 1070;
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.16);
}

.arrow_right,
.arrow_left {
    height: 30px;
    width: 20px;
    z-index: 999;
}

.arrow_right {
    margin-left: 6rem;
}

.arrow_left {
    margin-right: 6rem;
}

@media (max-width:744px) {
    .btn-call {
        right: 21px;
    }
    .arrow_right,
    .arrow_left {
        margin: 0 !important;
        position: absolute;
        bottom: -30px;
        width: 30px;
        display: none;
    }
}

.btn-submit {
    background: #000;
    color: #ffffff !important;
    cursor: pointer;
    padding: 14px 25px;
    font-size: 14px;
}

.checkbox-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkbox-group label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.checkbox-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 4px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* ::::::Navbar:::::*/

.navbar {
    padding: 2.5rem 10rem 1rem 6rem !important;
    position: fixed;
    width: 100%;
    z-index: 99 !important;
    background: transparent !important;
    transition: all .6s !important;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #000000 !important;
    transition: .8s ease;
    font-size: 15px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
}

.nav-bg {
    background: #FFFFFF !important;
}

@media (max-width:744px) {
    .navbar {
        padding: 1rem 1rem !important;
        background: #FFFFFF !important;
    }
}

.navbar .navbar-brand img {
    width: 150px;
}

.navbar-nav .nav-item {
    padding: 0 .7em;
}

/* :::::: Social icons ::::::*/

.intro-social {
    height: 50vh;
    top: 20%;
    max-width: 7.3% !important;
    background: #fff;
    width: 100px;
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:744px) {
    .intro-social {
        display: none;
    }
}

.intro-social .social-media h4 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 18px;
    font-size: 15px;
}

.intro-social .social-media .h-line {
    border: 1px solid #000000;
    width: 0px;
    height: 41px;
    margin-left: 28px;
}

.intro-social .social-media .social-media-icon svg {
    width: 15px;
    height: 15px;
    display: block;
    margin-left: 20px;
    margin-top: 24px;
    fill: #000000;
}

/* :::sections ::: */

.left {
    height: 100vh;
    padding: 319px 0 0 80px !important;
}

.mid {
    position: relative;
    height: 100vh;
    padding-top: 230px;
}

.bubble-section {
    padding: 5rem 6rem 0 6rem;
}

@media (max-width:744px) {
    .bubble-section {
        padding: 2em 1rem 2em 1rem;
    }
}

.bubble-section-header {
    padding: 2em 1em;
    line-height: 1.8em;
}

.bubble-section-header h3 {
    font-size: 28px;
    font-weight: 900;
    font-family: 'avenir-heavy' !important;
}

.bubble-section-header p {
    font-size: 16px;
}

.v-line {
    border: 2px solid #FFFFFF;
    width: 50px;
    height: 0;
    margin-left: 1px;
    margin-top: 4em;
}
